* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Poppins', sans-serif;
}
.carousel-inner img {
   width: 100%;
   height: 100%;
}
.mt-100 {
   margin-top: 100px;
}
.vertical-center {
   height: 100vh;
   display: flex;
   align-items: center;
}
.qr-code {
   max-width: 150px;
   cursor: pointer;
}
.qr-code-modal {
   max-width: 100%;
}
.btn-view-ar {
   background:transparent;
   border: 1px solid black;
   border-radius: 30px;
   padding: 10px 38px;
}
.btn-buy {
   background:transparent;
   border: 1px solid black;
   border-radius: 30px;
   padding: 10px 20px;
}
.btn-view-ar:hover, .btn-buy:hover {
   background: black;
   color: white;
   transition: all 1s;
}
.parent-text-btns {
   display: flex;
   align-items: center;
}
@media(max-width: 992px) {
   .vertical-center {
      align-items: flex-start;
      margin-top: 100px;
   }
   .qr-code {
      max-width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
   }
   .btn-view-ar {
      padding: 5px 28px;
   }
   .btn-buy {
      padding: 5px 10px;
   }
   .parent-text-btns {
      justify-content: center;
   }
}
